<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	<system.data>
		<DbProviderFactories>
			<!--<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
			
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<clear />
		<add name="RemoteMonitor" providerName="System.Data.SQLite" connectionString="Data Source=RemoteMonitor.s3db;Version=3;" />
	</connectionStrings>
	<appSettings>
		<add key="ListenURL" value="http://*:8000/" />
	</appSettings>
</configuration>
